* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "karla";
    src: url(./fonts/Karla-Regular.ttf);
}

:root {
    --color-nav: #1a1a1a;
    --color-text: #F1ECEC;
    --color-nav-ocult: #242222;
    --color-fons: #272727;
}

a {
    color: var(--color-text);
    text-decoration: none;
    cursor: pointer;
}

p {
    font-family: "Karla";
}

header {
    background-color: var(--color-nav);
    color: var(--color-text);
    padding: 10px;
    text-align: center;
    font-family: "Roboto"; 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


img[alt="LOGO"] {
    width: 300px;
    display: inline-block;
}

@media (min-width: 391px) {
    img[alt="LOGO"] {
        width: 300px;
    }
}


@media (max-width: 390px) {
    img[alt="LOGO"] {
        width: 200px;
    }

    img[alt="MENU"] {
        width: 30px;
        top:0;
    }
}

img[alt="MENU"]{
    width: 50px;
    display: inline-block;
}

.nav-hidden {
    display: none;
    position: absolute;
}

.nav-visible {
    display: block;
    background-color: var(--color-nav-ocult);
    transform: translateX(10px);
    width: 85%;
    position: fixed;
    top: 0;
    right: 0;
    display: table;
    height: 100%;
    z-index: 1100;
    font-family: "Roboto";
    border-radius: 10px;
    overflow-y: auto;
}

.nav-visible img[alt="LOGO"]{
    display:block;
    position: absolute;
    top: 100px;
    width: 300px;
    transform: translateX(17%);
}

.nav-visible ul{
    list-style: none;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
}

.nav-visible ul li {
    padding-bottom: 40px;
}

.nav-visible ul li a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 45px;
}


img[alt="CLOSE"] {
    display: none;
}
.close-icon{
    display: none;
    position: absolute;
    top:10px;
    right:20px;
    width: 50px;
    z-index: 1110;
}
header img[alt="MENU"], header img[alt="CLOSE"] {
    cursor: pointer;
    position: absolute;
    right: 10px;
    transform: translateY(12%);
}

footer{
    background-color: var(--color-nav);
    color: var(--color-text);
    padding: 1rem;
    text-align: center;
    bottom: 0;
}

img[alt="logo-footer"] {
    width: 65px;
    display: inline-block;
}
nav#nav-footer {
    display: inline-block;
}

#nav-footer ul {
    list-style: none;
    display: inline-block;
    justify-content: center;
    padding: 10px;
    width: fit-content;
    transform: translateY(-15px);
}

#nav-footer ul li {
    display: inline-block;
    padding: 10px;
}

#nav-footer ul li a {
    color: var(--color-text);
    text-decoration: none;
    font-family: "Roboto";
}

#nav-footer ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
}

footer p {
    font-family: "Roboto";
}
body{
    background-color: var(--color-fons);
}

section:first-child{
    margin-top: 75px;
}

section {
    padding: 1rem;
    text-align: center;
    font-family: "Roboto";
    color: var(--color-text);
}

section article h2 {
    font-family: "Roboto";
    font-size: 20px;
    color: #FF6F00;
    padding: 10px;
}

section p {
    font-family: "Karla";
    font-size: 1.2rem;
    padding: 10px;
    text-align: justify;
}

.card {
    background: linear-gradient(#161616, #01074e33);
}

.card:hover {
    box-shadow: 0px 4px 15px #ff6b26;
    transform: scale(1.05);
}

article hr {
    border: 1px solid #007BFF;
    width: 80%;
    margin: auto;
}

section img {
    width: 100%;
    padding: 10px;
    height: 230px;
}

main section article {
    border-style: solid;
    border-color: #F1ECEC;
    border-width: 2px;
    border-radius: 10px;
    margin: 10px;
}

@media(min-width: 1025px) {
    header img[alt="MENU"] {
        display: none;
    }

    header {
        height: 75px;
    }
    header img[alt="LOGO"] {
        display: inline-block;
        position: absolute;
        left:0;
        padding-left: 50px;
    }
    .nav-hidden img[alt="LOGO"]{
        display: none;
    }
    header .nav-hidden {
        display: inline-block;
        right: 20px;
    }

    .nav-hidden ul {
        list-style: none;
        display: inline-block;
        justify-content: right;
        padding: 10px;
    }

    .nav-hidden ul li {
        display: inline-block;
        padding: 10px;
    }

    .nav-hidden ul li a {
        color: var(--color-text);
        text-decoration: none;
        font-family: "Roboto";
    }

    .nav-hidden ul li a:hover {
        font-weight: bold;
        text-decoration: underline;
    }
    section:second-child {
        height: 400px;
    }
   
    .card {
        width: 30%;
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        border-radius: 10px;
        border: 2px solid #F1ECEC;
    }
}

@media (min-width: 577px) and (max-width: 1024px) {
    section {
        display: inline-block;
        justify-content: center;
    }

    .card {
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }

    header img[alt="MENU"] {
        display: none;
    }

    header {
        height: 75px;
    }
    header img[alt="LOGO"] {
        display: inline-block;
        position: absolute;
        left:0;
        padding-left: 50px;
    }
    .nav-hidden img[alt="LOGO"]{
        display: none;
    }
    header .nav-hidden {
        display: inline-block;
        right: 20px;
    }

    .nav-hidden ul {
        list-style: none;
        display: inline-block;
        justify-content: right;
        padding: 10px;
    }

    .nav-hidden ul li {
        display: inline-block;
        padding: 10px;
    }

    .nav-hidden ul li a {
        color: var(--color-text);
        text-decoration: none;
        font-family: "Roboto";
    }

    .nav-hidden ul li a:hover {
        font-weight: bold;
        text-decoration: underline;
    }

    section > article:nth-child(3) {
        display: none;
    }
}
