* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url();
}

:root {
    --color-nav: #1a1a1a;
    --color-text: #F1ECEC;
    --color-nav-ocult: #555555;
}

header {
    background-color: var(--color-nav);
    color: var(--color-text);
    padding: 10px;
    text-align: center;
}

img[alt="LOGO"] {
    width: 300px;
    display: inline-block;
}

img[alt="MENU"]{
    width: 50px;
    display: inline-block;
}

.nav-hidden {
    display: none;
    position: absolute;
}

.nav-visible {
    display: block;
    background-color: var(--color-nav-ocult);
    transform: translateX(0);
    width: 65%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.nav-visible ul{
    list-style: none;
    padding: 10px;
}

.nav-visible ul li {
    padding: 10px;
}

.nav-visible ul li a {
    color: var(--color-text);
    text-decoration: underline;
    font-size: 50px;
}

img[alt="CLOSE"] {
    display: none;
}
.close-icon{
    display: none;
    position: absolute;
    top:20px;
    right:20px;
    width: 30px;
    height: 30px;
    z-index: 1100;
}
header img[alt="MENU"], header img[alt="CLOSE"] {
    cursor: pointer;
    position: absolute;
    right: 10px;
    transform: translateY(12%);
}

footer{
    background-color: var(--color-nav);
    color: var(--color-text);
    padding: 1rem;
    text-align: center;
}

img[alt="logo-footer"] {
    width: 65px;
    display: inline-block;
}
nav#nav-footer {
    display: inline-block;
}

#nav-footer ul {
    list-style: none;
    display: inline-block;
    justify-content: center;
    padding: 10px;
    width: fit-content;
}

#nav-footer ul li {
    display: inline-block;
    padding: 10px;
}

#nav-footer ul li a {
    color: var(--color-text);
    text-decoration: none;
}

#nav-footer ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
}